* {
  /* border: 1px solid blue; */
}

.App {
  text-align: center;
}

.App > div {
  width: 100vw;
  min-height: 100vh;
  margin-top: 100px;
  border: 2px solid black;
}

/*  BIO  */

.bio-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 4em 4em 0em 2em;
  background-color: grey;
}

.bio-text {
  margin: 0em 2em;
}

.headshot {
  width: 10em;
  height: 10em;
  margin: 2em 0em;
}

.icon {
  height: 5vh;
  width: 5vw;
  color: blue;
  margin: 1em 1em;
}

/* MEDIA QUERIES */
/* bio & image switch when mobile */
@media screen and (max-width: 600px) {
  div.bio-box {
    flex-direction: column;
  }
}
