 * {
   font-family: 'Electrolize', sans-serif
 }
/*//////////////*/
/* text shadows */
/*//////////////*/
.bio-title {
  text-shadow: 0 0 20px #B026FF, 0 0 40px #B026FF, 0 0 55px #B026FF, 0 0 65px #B026FF, 2px 2px 2px rgba(176,38,255,0);
}
.link:hover {
  text-shadow: 0 0 20px #FFFF00, 0 0 40px #FFFF00, 2px 2px 2px rgba(176,38,255,0);
}
.link {
  text-shadow: 0 0 20px white, 0 0 40px #B026FF, 0 0 55px #B026FF,0 0 65px #B026FF, 2px 2px 2px rgba(176,38,255,0);
}

/*/////////////*/
/* page sizing */
/*/////////////*/
#Bio {
  width: 100vw;
  min-height: 80vh;
  margin-top: 80px;
  border: 2px solid black;
}

#Resume {
  width: 100vw;
  min-height: 55vh;
  margin-top: 150px;
  border: 2px solid black;
}

#Projects {
  width: 100vw;
  min-height: 55vh;
  margin-top: 80px;
  border: 2px solid black;
}

.carousel-item {
  margin-left: auto;
}

#Resources {
  width: 100vw;
  min-height: 55vh;
  margin-top: 85px;
  margin-bottom: 200px;
  border: 2px solid black;
}
.footer {
  box-shadow: 0 0 20px white, 0 0 40px #B026FF, 0 0 42px #B026FF,0 0 44px #B026FF, 2px 2px 2px rgba(176,38,255,0);
}
/*/////////*/
/*  icons  */
/*/////////*/
.icon {
  height: 5em;
  width: 5em;
  color: #B026FF;
}
.contact {
  margin: 0em 1em;
  height: 5em;
  width: 5em;
  color: #B026FF;
}

/*///////////////////////*/
/*     MEDIA QUERIES    */
/* ///////////////////// */

  /* Small devices (landscape phones, 544px and up) */
  @media (max-width: 543px) {
    .icon {
      height: 4em;
      width: 4em;
    }
    .contact {
      height: 3.5em;
      width: 3.5em;
    }
    .footer-text {
      font-size: 12px;
    }
    .footer-bootstrap {
      font-size: 10px;
    }
  }
  @media (min-width: 544px) {
    .icon {
      height: 4.25em;
      width: 4.25em;
    }
    .contact {
      height: 4em;
      width: 4em;
    }
    .footer-text {
      font-size: 14px;
    }
    .footer-bootstrap {
      font-size: 12px;
    }
  }
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .icon {
      height: 4.5em;
      width: 4.5em;
    }
    .footer-text {
      font-size: 16px;
    }
    .footer-bootstrap {
      font-size: 14px;
    }
    .headshot {
      max-width: 250px;
      max-height: 250px;
    }
    .bio-text {
      max-height: 300px;
      max-width: 700px;
    }
    .icon-box {
      max-width: 700px;
    }
  }
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .icon {
      height: 5em;
      width: 5em;
    }
    .footer-text {
      font-size: 18px;
    }
    .footer-bootstrap {
      font-size: 16px;
    }
  }
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .footer-text {
      font-size: 20px;
    }
    .footer-bootstrap {
      font-size: 18px;
    }
  }
